.Headline {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 2em;
  width: 240px;
  height: 2em;
  background-color: var(--color-black);
  color: var(--color-white);
}
