.Media {
  display: flex;
}

.Media.-margin {
  margin-bottom: 2em;
}

.Media__Image {
  align-self: center;
  width: 33%;
}

.Media__Image img {
  width: 100%;
}

.Media__Text {
  width: 66%;
  padding-left: 2em;
}
