:root {
  --color-pink: #e4006d;
  --color-black: #333;
  --color-gray: #999;
  --color-lightgray: #eff3f6;
  --color-white: #fff;
}

html {
  box-sizing: border-box;
  background-color: var(--color-black);
  font-size: 62.5%;
}

body {
  color: var(--color-black);
  font-family: 'Noto Sans CJK JP', sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
}

@font-face {
  font-family: 'Noto Sans CJK JP';
  font-weight: normal;
  src:
    local('Noto Sans CJK JP'),
    url('/font/NotoSansCJKjp-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Sans CJK JP';
  font-weight: bold;
  src:
    local('Noto Sans CJK JP'),
    url('/font/NotoSansCJKjp-Bold.otf') format('opentype');
}
