.Container {
  max-width: 800px;
  margin: 0 auto;
}

.Outer {
  padding: 2vw;
  background-color: var(--color-lightgray);
}

.Outer.header {
  background-color: var(--color-black);
}

.Outer.jumbotron {
  background-color: var(--color-pink);
}

.Outer.footer {
  background-color: var(--color-black);
}

.Inner {
  padding: 4vw;
  background-color: var(--color-white);
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
}

.Share {
  display: flex;
  justify-content: flex-end;
  height: 24px;
}
