.Outer {
  padding: 2vw;
  background-color: var(--color-lightgray);
}

.Outer.header {
  background-color: var(--color-black);
}

.Outer.jumbotron {
  background-color: var(--color-pink);
}

.Outer.footer {
  background-color: var(--color-black);
}
