.Profile::after {
  display: block;
  clear: both;
  content: "";
}

.Profile img {
  float: left;
  width: 25%;
  padding-right: 1em;
  padding-bottom: 1em;
}

.Profile.-margin {
  margin-bottom: 2em;
}
