.Summary__Title {
  margin-bottom: 0;
}

.Summary::after {
  display: block;
  clear: both;
  content: "";
}

.Summary img {
  float: left;
  box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.2);
}

.SummaryDetail {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.SummaryPrice {
  display: flex;
  align-items: center;
}

.SummaryPrice__Label {
  margin-right: 1em;
  padding: 0.2em;
  border: solid 2px currentColor;
  font-size: 0.75em;
  font-weight: bold;
}

.SummaryPrice__Price {
  font-size: 2.5em;
}

.SummaryPrice__Price span {
  font-size: 0.8em;
}

@media (max-width: 480px) {
  .Summary img {
    width: 100%;
    margin-bottom: 2em;
  }

  .SummaryDetail {
    flex-direction: column;
  }

  .SummaryBuy {
    margin-top: 1em;
  }
}

@media (min-width: 481px) {
  .Summary img {
    width: 240px;
    margin-right: 2em;
    margin-bottom: 1em;
  }
}
